.Profile{
    background-color: aliceblue;
    display: grid;
    grid-template-areas:
            "info"
            "posts";
    grid-template-rows: 300px
                        1fr;

    margin: 8px;
}

.Profile__Info{
 grid-area: info;
}

.Profile__Posts{
    grid-area: posts;
}
