.header {
  background-color: var(--background-primary);
  grid-area: header;
  height: 50px;
}

.headerContent {
  display: flex;
  width: 100vw;
  height: 48px;
  max-width: 1000px;
  margin: 0 auto;
}

.headerContent-icon {
  height: 45px;
  margin: 1px;
}
