.Navigation {

}

.Navigation__link {
    text-decoration: none;
    margin: 1px;
    color: black;

}

.Navigation__link.Navigation_active_link {
    color: #6689ff;
}

.Navigation__content {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 2px;
    transition: transform 60ms, background-color 60ms;
}

.Navigation__content:hover {
    background-color: #6689ff;
    transform: scale(1.1);
    color: white;
}

.Navigation__img {
    height: 20px;
    margin-right: 4px;
}
