/*Navigation----------------------*/
.Nav {
  grid-area: navigation;
}

.Nav__link {
  margin: 1px;

  text-decoration: none;
  color: black;
}

.Nav__link-container {
  padding: 2px;

  background: transparent;
  text-align: center;
  font-size: 18px;
  transition: transform 60ms, background-color 60ms;
}

.Nav__link-container:hover {
  background-color: var(--background-primary);
  transform: scale(1.1);
  color: white;
}

.Nav__link-icon {
  height: 20px;
  margin-right: 4px;
}
