body{
    background-color: #ebebeb;
}

h1, h2, h3, h4, h5{
    display: block;
    margin: 0;
}

/*div{*/
/*    border: 1px black solid;*/
/*}*/

.app-wrapper{
    display: grid;
    grid-template-areas:
    "header "
    "profileBar";
    grid-template-rows: 60px 1fr;
}

.profileBar{
    width: 100vw;
    max-width: 1000px;
    margin:0 auto;
    grid-area: profileBar;
    display: grid;
    grid-template-areas: "navigation profile";
    grid-template-columns: 150px 1fr;
}


/*Header--------------------------*/
.header{
    background-color: #6689ff;
    grid-area: header;
    height: 50px;
}

.headerContent{
    display: flex;
    width: 100vw;
    height: 48px;
    max-width: 1000px;
    margin: 0 auto;

}
.headerContent img{
    height: 45px;
    margin: 1px;
}
/*Header*/

/*Navigation----------------------*/
.nav{

    grid-area: navigation;
}

.nav a {
    text-decoration: none;
    margin: 1px;
    color: black;

}
.nav div{
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 18px;
    padding: 2px;
    transition: transform 60ms, background-color 60ms;
}

.nav div:hover{
    background-color: #6689ff;
    transform: scale(1.1);
    color:white;
}
.nav img{
    height: 20px;
    margin-right: 4px;
}
/*Navigation*/

/*Content----------------------------*/
.profile{
    background-color: aliceblue;
    grid-area: profile;
}