:root {
  --background-primary: #6689ff;
}

body {
  background-color: #ebebeb;
}

h1,
h2,
h3,
h4,
h5 {
  display: block;
  margin: 0;
}

/*div{*/
/*    border: 1px black solid;*/
/*}*/

.app-wrapper {
  display: grid;
  grid-template-areas:
    'header '
    'profileBar';
  grid-template-rows: 60px 1fr;
}

.profileBar {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  grid-area: profileBar;
  display: grid;
  grid-template-areas: 'navigation profile';
  grid-template-columns: 150px 1fr;
}

/*Header--------------------------*/

/*Header*/

/*Navigation*/

/*Content----------------------------*/
.profile {
  background-color: aliceblue;
  grid-area: profile;
}
