body {
    background-color: #ebebeb;
}

h1, h2, h3, h4, h5 {
    display: block;
    margin: 0;
}

/*div{*/
/*    border: 1px black solid;*/
/*}*/

.app-wrapper {
    display: grid;
    grid-template-areas: "HeaderContent" "MainBar";
    grid-template-rows: 60px 1fr;
}

.HeaderContent {
    grid-area: HeaderContent;
}

.MainBar {
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    grid-area: MainBar;
    display: grid;
    grid-template-areas: "Navigation MainContent";
    grid-template-columns: 150px 1fr;
}

.Navigation {
    grid-area: Navigation;
}

.MainContent {
    grid-area: MainContent;
}
